# Python Basic
Python Findamenatl

Python coding

In [1]:
print("Hello Neotech")

Hello Neotech

In [2]:
print("Hello Sid")

Hello Sid

# Python Variable

In [3]:
var1 = "Python"
a = 55
b = 96
print(var1)
print(a)
print(b)

sum = a+b
print(sum)

Python
55
96
151

In [4]:
# variable
var1=20
var2=30

var3= var1+var2
print(var3)

50

In [5]:
var4=var1*var2
var4

600

In [6]:
var5=var1/var2
var5

0.6666666666666666

In [7]:
var6=var1-var2
var6

-10

In [8]:
count=500
km=1000
name="Sid"
a,b,c=5,9,"Neotech"
print("my name is Sid ")
print(count,km,name,sep='*')
print(a,b,c,sep='/')

my name is Sid
500*1000*Sid
5/9/Neotech

In [9]:
a=b=c=5

a
b
c

print(a,b,c)

5 5 5

In [10]:
x,y,z=13,20,21
y

20

In [11]:
del y

# Data type
numerical data types
int
float
complex

In [12]:
a=99
b=85.56
c=3.14j
d="mahadev"
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [13]:
#how to take input from user
#ask the user to enter the value of x and store it in varible x
x = int(input("Enter  the value of x: "))


#ask the user to enter the value of x and store it in varible y
y = int(input("Enter  the value of y: "))

#perform any mathemetical operation on user input 
z = x+y

#print the answer
z

Enter  the value of x: 78
Enter  the value of y: 78

156

# string

In [14]:
str1="i like python programing language"
str1

'i like python programing language'

In [15]:
str2=" number one"
str2

' number one'

In [16]:
str4=str1+str2
str4

'i like python programing language number one'

In [17]:
#sring indexing and slicing

name="gujrat university"
print(name)
print(len(name))

gujrat university
17

In [18]:
name[7]

'u'

In [19]:
name[4]

'a'

In [20]:
name[-5]

'r'

In [21]:
name="my name is Sid"
print(name)
print(len(name))

my name is Sid
14

In [22]:
name[8]

'i'

In [23]:
name[-5]

's'

In [24]:
name[5]

'm'

In [25]:
name[9]

's'

In [26]:
name[-8]

'e'

In [27]:
name[-3]

'S'

In [28]:
name[7]

' '

In [29]:
name[-11]

'n'

In [30]:
name[-10]

'a'

In [31]:
name[1]

'y'

In [32]:
name[2]

' '

In [33]:
str1="{1} {0} {2}".format('python','progrrming','language')
str1

'progrrming python language'

# List

In [34]:
my_list=[1,2,3,4,5]

In [35]:
my_list

[1, 2, 3, 4, 5]

In [36]:
type(my_list)

list

In [37]:
type(my_list[0])

int

In [38]:
x=[1,2,5.1,3.8,"Hello"]

In [39]:
x

[1, 2, 5.1, 3.8, 'Hello']

In [40]:
type(x)

list

In [41]:
x[3]

3.8

In [42]:
x[-1]

'Hello'

In [43]:
type(x[3])

float

In [44]:
x[1:3]

[2, 5.1]

In [45]:
x[4]="hi"

In [46]:
x

[1, 2, 5.1, 3.8, 'hi']

In [47]:
x=input("enter first value")
y=input("enter second value")

enter first value65
enter second value55

In [48]:
x+y

'6555'

In [49]:
z=x+y
z

'6555'

In [50]:
x=int(x)

In [51]:
y=int(y)

In [52]:
x+y

120

# Tuples

In [53]:
b=(1,2,3,4,6)
c=(6,7,9,11,5,4)

In [54]:
type(b)

tuple

In [55]:
type(c)

tuple

In [56]:
b+c

(1, 2, 3, 4, 6, 6, 7, 9, 11, 5, 4)

In [57]:
b*3

(1, 2, 3, 4, 6, 1, 2, 3, 4, 6, 1, 2, 3, 4, 6)

In [58]:
b[3]

4

In [59]:
c[4]

5

In [60]:
b[-3:-1]

(3, 4)

In [61]:
c[-3:]

(11, 5, 4)

# Dictionary
Dictionary is always keys value pair

In [62]:
empl={}

In [63]:
type(empl)

dict

In [64]:
empl["name"]="Sid"
empl["age"]="20"
empl["Gender"]="m"

In [65]:
empl

{'name': 'Sid', 'age': '20', 'Gender': 'm'}

In [66]:
empl["name"]

'Sid'

In [67]:
empl["age"]

'20'

In [68]:
empl["Gender"]

'm'

In [69]:
empl.keys()

dict_keys(['name', 'age', 'Gender'])

In [70]:
empl.values()

dict_values(['Sid', '20', 'm'])

# Python Loops

In [99]:
count = 0
while count < 9 :
    print("The count is :",count)
    count = count + 1
print("counting nos!")

The count is : 0
The count is : 1
The count is : 2
The count is : 3
The count is : 4
The count is : 5
The count is : 6
The count is : 7
The count is : 8
counting nos!

In [72]:
count = 0
while (count < 3):
    count = count + 1
    print("Hello Ram")

Hello Ram
Hello Ram
Hello Ram

In [76]:
count = 0
while count < 5:
    print(count,"is less than 5")
    count = count +1
else:
    print(count, "is equal to 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is equal to 5

In [92]:
for letter in 'Anaconda':
    print('current letter :' , letter)

current letter : A
current letter : n
current letter : a
current letter : c
current letter : o
current letter : n
current letter : d
current letter : a

In [94]:
fruit = ['banana' , 'apricot' , 'mango']
for fruit in fruit:
    print('current fruit :' , fruit)
    
print('Fruit Dish!')

current fruit : banana
current fruit : apricot
current fruit : mango
Fruit Dish!

In [91]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [109]:
for num in range(10,40):
    for i in range(3,num):
        if num%i== 0:
            j=num/i
            print('%d equals %d * %d'  % (num,i,j))
        break
    else:
        print(num,'is a prime number')
        break

12 equals 3 * 4
15 equals 3 * 5
18 equals 3 * 6
21 equals 3 * 7
24 equals 3 * 8
27 equals 3 * 9
30 equals 3 * 10
33 equals 3 * 11
36 equals 3 * 12
39 equals 3 * 13

In [118]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d is equal to %d * %d' %(num,i,j))
            break
        else:
            print(num, "is a prime number")
            break

10 is equal to 2 * 5
11 is a prime number
12 is equal to 2 * 6
13 is a prime number
14 is equal to 2 * 7
15 is a prime number
16 is equal to 2 * 8
17 is a prime number
18 is equal to 2 * 9
19 is a prime number

In [120]:
from math import pi
pi

3.141592653589793

In [121]:
pi

3.141592653589793

In [124]:
# find the area of circle

radius = 78
Area = pi*radius*radius
Area

19113.4497044403

# Conditional Statment

In [125]:
#if statment

num = 5
if num>0:
    print(num, 'is positive number')
print('statment is true')

5 is positive number
statment is true

In [131]:
#nested loop

num = 0
if num>=0:
    if num == 0:
        print(num, 'is zero')
    else:
        print(num, 'is positive number')
else:
    print(num, 'is negative number')

0 is zero

In [148]:
#create function for each operation
#in this function add two number

def add(x,y):
    return x+y

#in this function sub two number

def sub(x,y):
    return x-y

#in this function multiply two number

def multy(x,y):
    return x*y

#in this function division two number

def divide(x,y):
    return x/y

print("select operation")
print("1. addition")
print("2. subtraction")
print("3. multiplication")
print("4. division")

choice = input("enter choice (1/2/3/4): ")

num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))

if choice == '1':
     print(num1, "+", num2,'=', add(num1, num2))

elif choice == '2':
    print(num1, "-", num2,'=', sub(num1, num2))
        
elif choice == '3':
    print(num1, "*", num2,'=', multy(num1, num2))
    
elif choice == '4':
    print(num1, "/", num2,'=', divide(num1, num2))
    
else:
    print("invalid input")

select operation
1. addition
2. subtraction
3. multiplication
4. division
enter choice (1/2/3/4): 4
enter the first number: 65
enter the second number: 32
65 / 32 = 2.03125